<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Listado de Citas</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha y Hora</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th>4b31f524-9832-49e3-a334-9ac5797ef0d0</th>
                        <th>Juan Carlos Perez Castro</th>
                        <th>Lunes 14 de Febreo 10:44 pm</th>
                        <th>El Salvador</th>
                        <th>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-warning">Edit</button>
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th>02856c04-8f09-4b8e-967f-c924a6462928</th>
                        <th>Maria Cruz Menjivar Dueñas</th>
                        <th>Lunes 22 de Febreo 12:44 pm</th>
                        <th>Honduras</th>
                        <th>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-warning">Edit</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
