<div class="container">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombres</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nombres">
          <div id="nombres" class="form-text">Ejemplo: Juan Perez.</div>
        </div>
        <div class="mb-3">
          <label for="apellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="apellidos">
          <div id="nombres" class="form-text">Ejemplo: Garcia Juarez.</div>
        </div>
        <div class="mb-3">
            <label for="tipodocumento">Tipo de Documentno</label>
            <select name="" id="tipodocumento" class="form-select">
                <option value="">Seleccione un tipo</option>
                <option value="">DUI</option>
                <option value="">Pasaporte</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="numerodocumento" class="form-label" id="numerodocumento">Numero Documento</label>
            <input type="text" class="form-control" id="numerodocumento">
            <div class="form-text" id="numerodocumento">Ingrese Numero segun formato</div>
        </div>
        <div class="mb-3">
            <label for="paiscita">Seleccione Pais de Cita</label>
            <select name="" id="paiscita" class="form-select">
                <option value="">Seleccione un país</option>
                <option value="">El Salvador</option>
                <option value="">Guatemala</option>
                <option value="">Nicaragua</option>
                <option value="">Honduras</option>
                <option value="">Costa Rica</option>
                <option value="">Panamá</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="submit" class="btn btn-warning">Limpiar</button>
      </form>
</div>
